{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password reset successful </title>
    <link rel="stylesheet" href="{% static 'revive.css'%}">

</head>
<body>
    <div class="container">
        <div class="container-box">
            <div class="logo-container text-center mb-4">
                <img src="{% static 'img/logo_img.png'%}" alt="Logo" class="logo">
                <h1 class="logo-name">ReviveRide Spa</h1>
            </div>
            <div class="rectangle-box">
                <p style="font-size:30px;"><b>You have successfully changed your password</b></p>
                <p>You can now log in securely with your new password to access our services</p>
            <center> <img src="{% static 'img/icons8-correct-48 1.png'%}" alt="successful"></center> 
            <br><br>
              <button type="button"  class="btn btn-primary">Back to login</button>
            </div>
        </div>
    </div>

    
</body>
</html>
